.forgot-container {
  background-image: url('../assets/images/reg.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Georgia', serif;
}

.forgot-card {
  background: rgba(0, 0, 0, 0.6); 
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 50px;
  width: 350px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #ffffff;
}

.forgot-card h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #e4c590; 
}

.forgot-card input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  box-shadow: inset 0 0 3px hwb(0 100% 0%);
}

.forgot-card button {
  background: linear-gradient(to bottom, #e4c590, #e4c590);
  color: #ffffff;
  border: none;
  padding: 12px ;
  width: 50%;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 17px;
  font-size: 1.1rem;
  transition: transform 0.2s ease-in-out;
}

.forgot-card button:hover {
  transform: scale(1.05);
}

.back-button {
  background: linear-gradient(to bottom, #e4c590, #e4c590 );
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.back-button:hover {
  background: linear-gradient(to bottom, );
}




.feedback-text {
  font-size: 1rem;
  color: hsl(0, 0%, 100%); 
  margin-bottom: 0.9rem;
  text-align: center;
  padding-left: 4px;
  font-weight: 3;
}

.feedback-text.success {
  color: #ffffff; 
}

.feedback-text.error {
  color: #ffffff; 
}
