.workerDashboard-container {
  background-image: url('../assets/images/reg.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Segoe UI', sans-serif;
}
